body {
    background-color: rgba(159, 255, 247, 0.3);
    font-family: 'Nunito', sans-serif;
}

div.flex-align {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
  }

.img-w150 {
    width: 100px;
    border-radius: 25%;
}

.menu {
    margin-top: 15px;
}

.desen{
    width: 500px;
}